@import "../../vars.css";

.projectCardContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.8);
  box-shadow: 0 16px 14px 0 #04152d;

  width: 400px;
  height: 300px;
  align-items: center;
}

.picContainer {
  grid-column: 1; /* Place in the first column */
  grid-row: 1;    /* Place in the first row */
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Optional background */
  opacity: 1;
}

.projectCardContainer:hover .picContainer {
  opacity: 1;
}

.projectCardContainer:hover .overlay {
  opacity: 1;
}

.image {
  
  margin-bottom: 26px;
  height: 100%;
}

.overlay {
  position: absolute;
  padding: 25px 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(30, 30, 30, 0.8);
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  width: 40%;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
  background: var(--color-accent);
  padding: 1px 22px;
}